[Unit]
Description=Ceilometer Notification Agent
After=mongodb.service rabbitmq-server.service



[Service]
User=ceilometer
Group=ceilometer
Type=simple
WorkingDirectory=~
RuntimeDirectory=ceilometer lock/ceilometer
CacheDirectory=ceilometer
ExecStart=/etc/init.d/ceilometer-agent-notification systemd-start
Restart=on-failure
LimitNOFILE=65535
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target

